<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Pessoas</h3>
    </div>
    <div class="class card-body">
      <table class="table table-hover">
        <caption>Tabela de exemplo</caption>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nomes</th>
            <th>Apelidos</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm" style="margin-left: 10px;">Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
